body {
    background-color: #f5f7fb;
    font-family: Arial;
}

.card {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    text-align: center;
    background: white;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.card img {
    border-radius: 50%;
    width: 120px;
}

#name {
    color: #3b2a6d;
}

.role {
    color: gray;
    margin-bottom: 15px;
}

.card a {
    display: block;
    margin: 5px;
    text-decoration: none;
}